/*去除不必要的样式*/
html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}
caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%}legend{color:#000}
#yui3-css-stamp.css-reset{display:none}


a{
    text-decoration: none;
}
#head{
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 22;
}
.header{
    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
.header #logo{
    width: 96px;
    height: 40px;
    margin-top:5px;
    float: left;
}
.header #logo .img-logo{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url("../images/logo2.png") 0 0 no-repeat;
    background-size: 100%;
}
.header .right{
    width: 150px;
    height: 50px;
    float: right;
    position:relative;
}
.header .right .login-in{
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -21px;
    border-radius: 50%;
}



/*主体内容*/
#middle{
    padding-top: 60px;
    width: 1000px;
    margin: 0 auto;
    border-bottom:1px solid #ccc;
}
#middle .article{
    width: 640px;
    float: left;
    border: 1px #ccc solid;
}
#middle .article .top{
    width: 640px;
    height: 60px;
}
#middle .article .top .nav{
    width: 600px;
    height: 60px;
    margin: 0 auto;
    border-bottom:1px solid #ccc;
}

#middle .article .nav ul[class="col"]{
    width: 440px;
    height: 60px;
}
#middle .article .nav ul[class="col"] li{
    width: 70px;
    height: 60px;
    margin-right: 40px;
    text-align: center;
    float: left;
}
#middle .article .nav ul[class="col"] li a{
    display: table;
    width: 66px;
    height: 30px;
}
#middle .article .nav ul[class="col"] li a span{
    height: 60px;
    display: table-cell;
    vertical-align: middle;
}
#middle .article .nav ul[class="col"]>li:last-child{
    position: relative;
}
#middle .article .nav ul[class="amuse"]{
    width: 90px;
    height: 60px;
    display: none;
    position: absolute;
    z-index: 22;
    border:1px solid #ccc;
    background-color:#cdd;
}
#middle .article .nav ul[class="amuse"] li{
    width: 90px;
    height: 30px;
}
#middle .article .nav ul[class="amuse"] li a{
    width: 90px;
    height: 30px;
    line-height: 30px;
}
/*中间右侧部分固定*/
#middle .aside{
    width: 342px;
    height: 560px;
    float: right;
    position: fixed;
    border-right:1px solid #cdd;
}
#middle .aside #weather{
    width: 260px;
    margin: 10px auto;
    height: 140px;
    font-weight: 500;
    font-size:12px;
    text-align:center;
}
#middle .aside #weather .ipAddress{
    width: 260px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#middle .aside #weather .date_1,.date_2{
    width: 260px;
    height: 40px;
    padding-bottom: 8px;
    margin-bottom: 5px;
}
#middle .aside #weather ,date_2{
	border-bottom:1px solid #ccc;
}
#middle .aside #weather .localDate{
    width: 260px;
    height: 20px;
    text-align: center;
}
#middle .aside #weather .localWeather{
    display:block;
    width:100%;
    text-align:center;
}
#middle .aside .extend-read{
    width: 260px;
    margin: auto;
    height: 300px;
   overflow: hidden;
}
#middle .aside .extend-read #mes-1,#mes-2{
	padding:0 5px 0 5px;
}
#middle .aside .extend-read .changeColor{
    color:#404040;
    font-family: "\5fae\8f6f\96c5\9ed1";
    font-weight:300;
    font-size:12px;
}
#middle .aside .extend-read .changeColor:hover{
    color: #db1011;
}
#middle .content{
    width: 620px;
    overflow: auto;
    margin: 0 auto;
}
#middle .content .author{
    width: 100px;
    margin: 10px;
    float: left;
}
#middle .content .authorId{
	font-weight:bold;
	font-size:14px;
	margin-bottom:5px;
}
#middle .content .displayTime{
	font-size:12px;
	color:#ccc;
}
#middle .content .row{
    width: 100%;
     border-bottom: 1px solid #cdd;
}
#middle .content .img-row{
    border-bottom: 1px solid #cdd;
}
#middle .clearfix:after{
	content:"";
	display:block;
	clear:both;
	height:0;
	line-height:0;
	visibility:hidden;
}
#middle .content .text{
    width: 468px;
    padding:5px;
    word-wrap:break-word;
    float: right;
    margin: 10px;
}
#middle .content .imgShow{
    margin: 10px;
}
#middle .content .imgShow img{
 max-width:300px;
 max-height:450px;
}
#goTop{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 44px;
    height: 44px;
    border: 1px #e82c07;
    display: none;
}
#goTop a{
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background-color: #ccc;
}
#goTop a:hover{
    background-color: #ff6600;
}
/*底部信息栏*/
#footer{
    width: 260px;
    margin: 10px auto;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top:1px solid #ccc;
}
/*分页主体设置*/

#footer ul[class="changeItem"]{
    width: 160px;
    height: 30px;
}
#footer ul[class="changeItem"] li{
    list-style: none;
    float: left;
    width: 25%;
    height: 100%;
    line-height: 30px;
    text-align: center;
}
/*分页链接*/
#footer span[class="changeCal"]{
    width: 135px;
    height: 30px;
    display:block;
    text-align:center;
    line-height:30px;
}
#footer #info{
    width: 260px;
    height: 25px;
    margin: auto;
    font-size:16px;
    text-align: center;
    line-height: 25px;
}