<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>talk</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddTextServlet</servlet-name>
    <servlet-class>md.AddTextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTextServlet</servlet-name>
    <url-pattern>/addText</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddPhotoServlet</servlet-name>
    <servlet-class>md.AddPhotoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPhotoServlet</servlet-name>
    <url-pattern>/addPhoto</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ListAllMessageServlet</servlet-name>
    <servlet-class>md.ListMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAllMessageServlet</servlet-name>
    <url-pattern>/listAllMessage</url-pattern>
  </servlet-mapping>
</web-app>